<!DOCTYPE html>
<html>
  <head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title><%= pageName %></title>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/menu.js"></script>
  </head>
  <body>
    <header>
      <h1><a href="index.html"><%= pageName %></a></h1>
      <nav>
        <p class="show" id="menu-toggle">Menu</p>
        <ul class="hide" id="menu-ul">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <h2>Content Title</h2>
        <p>If this is for a blog, etc; this could be a post.</p>
        <p>The content title, then, would be the post title. Possibly, an
					<code>&lt;h3&gt;</code> could be added for a date.</p>
        <p>Then, of course, these paragraphs would be input via a CMS or
					similar.</p>
        <p>On a front page, there might also be multiple of these posts
					(<code>&lt;article&gt;</code>) with less <code>&lt;p&gt;</code>
					information.</p>
      </article>
      <article>
        <h2>Post Title</h2>
        <h3>2017-10-07</h3>
        <p>Like this post, the <code>&lt;p&gt;</code> would be short. A
					teaser.</p>
        <p class="meta">Posted in: <a href="#">Category</a>.</p>
      </article>
    </main>
    <aside>
     <section>
       <h3>Sidebar Section</h3>
       <p>This is sidebar content, perhaps giving a short description of the
				 site or its contents.</p>
     </section>
     <section>
       <h3>Sidebar Links Section</h3>
       <ul>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
         <li><a href="#">Link</a></li>
       </ul>
     </section>
    </aside>
    <footer>
      <p>&copy; 2017 <a href="http://aberrantmedia.github.io">Aberrant
				Media</a></p>
    </footer>
  </body>
</html>
